/* Dark mode colors. */
:root {
	--sl-color-accent-low: #3b1621;
	--sl-color-accent: #eb5e8a;
	--sl-color-accent-high: #eb5e8a;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ededef;
	--sl-color-gray-2: #c2c2c3;
	--sl-color-gray-3: #8b8b8e;
	--sl-color-gray-4: #58585a;
	--sl-color-gray-5: #38383a;
	--sl-color-gray-6: #262629;
	--sl-color-black: #181819;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #f2cbd3;
	--sl-color-accent: #eb5e8a;
	--sl-color-accent-high: #eb5e8a;
	--sl-color-white: #181819;
	--sl-color-gray-1: #262629;
	--sl-color-gray-2: #38383a;
	--sl-color-gray-3: #58585a;
	--sl-color-gray-4: #8b8b8e;
	--sl-color-gray-5: #c2c2c3;
	--sl-color-gray-6: #ededef;
	--sl-color-gray-7: #f6f6f7;
	--sl-color-black: #ffffff;
}

[data-has-hero] .page {
	background:
		linear-gradient(215deg, #eb5e8a20, transparent 40%),
		radial-gradient(#eb5e8a20, transparent 40%) no-repeat -60vw -40vh /
			105vw 200vh,
		radial-gradient(#eb5e8a20, transparent 65%) no-repeat 50%
			calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}
