:root {
    --vp-c-brand: #eb5e8a;
    --vp-c-brand-light: #ffa5cc;
    --vp-c-brand-lighter: #ffd0e4;
    --vp-c-brand-dark: #eb5e8a;
    --vp-c-brand-darker: #d14470;
    --vp-c-brand-dimm: #363636;
}
