:root {
	--vp-c-brand-1: #eb5e8a;
	--vp-c-brand-2: #d14470;
	--vp-c-brand-1-light: #ffa5cc;
	--vp-c-brand-1-lighter: #f8bbd6;
	--vp-c-brand-1-dark: #eb5e8a;
	--vp-c-brand-1-darker: #d14470;
	--vp-c-brand-1-dimm: #363636;
	--vp-button-brand-bg: var(--vp-c-brand-1);
	--vp-button-brand-hover-bg: var(--vp-c-brand-1-darker);
}

:root {
	--vp-custom-block-tip-border: var(--vp-c-brand);
	--vp-custom-block-tip-text: var(--vp-c-brand-darker);
	--vp-custom-block-tip-bg: rgba(255, 165, 204, 0.3);
}

.dark {
	--vp-custom-block-tip-text: var(--vp-c-brand-light);
	--vp-custom-block-tip-bg: rgba(255, 165, 204, 0.1);
}
