name: Tests

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    name: Test with NodeJS v${{ matrix.node-version }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup PNPM
        uses: pnpm/action-setup@v2.2.1
        with:
          version: 7.0.0

      - name: Install Dependancies
        run: pnpm i

      - name: Build Packages
        run: pnpm build

      - name: Run Tests
        run: pnpm test

      - name: Lint
        run: pnpm lint